.visualizer_container {
  background-color: #f4fffd;
  flex-basis: 80%;
}

.visualizer {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
