.sidebar_container {
  background-color: #011936;
  flex-basis: 20%;
  padding: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  & > * {
    margin-top: 1rem;
  }
  #select_div select {
    width: 100%;
  }

  #play_button {
    background-color: #ed254e;
    &:hover {
      background-color: #be1a37;
    }
  }

  .slider {
    color: white;
    display: flex;
    align-items: center;
    justify-content: stretch;

    #slider_label {
      flex: 2;
    }
    #slider_input {
      cursor: pointer;
      flex: 8;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  #randomize_button {
    background-color: #465362;
    &:hover {
      background-color: #313b4b;
    }
  }
}
